#App {
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0px 50px;
  background: #fb6161aa;
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
}

h1 a {
    text-decoration: none;
}
